<%- include('partials/header') %>

<div class="container page-404-centered py-3 h-100">
    <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="card card-404 px-md-4 py-md-4">
                <div class="card-body">
                    <div class="card-title">
                        <img src="img/404.svg" alt="404" class="svg-404">
                    </div>
                
                    <h1 class="page-404-text">Page Not Found</h1>
                    <p>We're sorry, we couldn't find the page you requested.</p>
                    <div class="mt-4">
                        <a class="btn-lg btnHomeRegister mr-2 mb-4 abtn" href="/register" role="button">Register</a>
                        <a class="btn-lg btnHomeLogin abtn" href="/login" role="button">Login</a>
                    </div>
                </div>
            </div>
            <%- include('partials/copy') %>
        </div>
    </div>
</div>

<%- include('partials/circles') %>

<%- include('partials/footer') %>