<%- include('partials/header') %>

<div class="container page-404-centered">
    <div class="row">
        <div class="col-12">
            <img src="img/404.svg" alt="404" class="svg-404">
            <h1 class="mt-2 page-404-text">Page Not Found</h1>
            <p>We're sorry, we couldn't find the page you requested.</p>
            <div class="mt-4">
                <a class="btn-lg btnHomeRegister mr-2 mb-4" href="/register" role="button">Register</a>
                <a class="btn-lg btnHomeLogin" href="/login" role="button">Login</a>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>