<%- include('partials/header') %>

<div class="container centered">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h1 class="mb-4 title">The Secret App</h1>
      <div class="card px-md-3">
        <div class="card-body">
          <div class="card-title text-center">
            <span>Log Into Secret App</span>
            <%if(error.length > 0){%>
              <p class="mt-2 mb-2">The email or password you’ve entered doesn’t match any account.</p>
            <%}%>
            <%if(success.length > 0){%>
              <p class="mt-2 mb-2">&nbsp; <%= success %></p>
            <%}%>
          </div>

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">
            <div class="form-group">
              <input type="email" class="form-controll form-control-lg inputEmail text-center" placeholder="Enter your email" name="username" autocomplete="off" required>
            
              <input type="password" class="form-control form-control-lg inputPass text-center  mt-4" placeholder="Enter your password" name="password" required>
            </div>
            <button type="submit" class="btn-lg btnLogin mt-2 mb-4">Login</button>
            <a class="btn-lg btnSignIpWithGoogle button" href="/auth/google" role="button">
              <i class="fab fa-google"></i>
              Continue with Google
            </a>
            <div class="signup text-center">
              <p class="mt-2"><a href="#!" class="forgotPassword mr-3 h6">Forgot Password?</a><a href="/register" class="signUp h6"> Sign Up for Secret App</a></p>
            </div>
          </form>

        </div>
      </div>
      <p class="mt-3 copy">
        &copy; Niks Nilo <%= year %> | MongoDB, Mongoose, Node.js, Express.
      </p>
    </div>

    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign In with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
</div>

<%- include('partials/footer') %>
