<%- include('partials/header') %>

  <div class="container centered">
    
    <i class="fas fa-key fa-6x"></i>
    <h1>You've Discovered My Secret!</h1>
    <div class="a-group mt-5">
      <a class="btn-lg btnSubmitSecret mr-2 mb-4 abtn" href="/submit" role="button">Submit a Secret</a>
      <a class="btn-lg btnLogout abtn" href="/logout" role="button">Log Out</a>
    </div>
    <div class="row h-100 mb-5">
      <%usersWithSecrets.forEach(function(user){ %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-secret mt-5 card-block d-flex">
          <div class="card-body align-items-center d-flex justify-content-center">
              <p class="secret-text"><%= user.secret %></p>
          </div>
        </div>
      </div>
      <%}) %>
    </div>

  </div>
<%- include('partials/footer') %>
