
body {
  background-color: #131419;
}

.centered {
    padding-top: 80px;
    text-align: center;
    color: #fff;
}

.home-centered{
  padding-top: 150px;
  text-align: center;
  color: #fff;
}

.submit-centered{
  margin-top: 80px;
  text-align: center;
  color: #fff;
}

.page-404-centered{
  padding-top: 110px;
  text-align: center;
  color: #fff;
}

.secret-text {
  text-align: center;
  font-size: 18px;
  color: #5ab9ea;
}

.card-secret{
  height: 120px;
}

.btnLogin, .btnHomeRegister, .btnHomeLogin, .btnLogout,
.btnSubmitSecret, .btnSignUpWithGoogle, .btnSignIpWithGoogle{
  color: #5ab9ea;
  width: 100%;
  padding: 10px 40px;
  border-radius: 20px;
  transition: all 0.5s ease;
  outline: none;
  background: #131419;
  box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.10),
             5px 5px 15px rgba(0, 0, 0, 0.5);
}

.btnLogin:hover, .btnHomeLogin:hover, .btnHomeRegister:hover,
.btnLogout:hover,.btnSubmitSecret:hover, .btnSignUpWithGoogle:hover,
.btnSignIpWithGoogle:hover{
  color: #5ab9ea;
}

.btnHomeRegister:active, .btnHomeLogin:active, .btnLogin:active,
.btnLogout:active, .btnSubmitSecret:active, .btnSignUpWithGoogle:active,
.btnSignIpWithGoogle:active{
  color: #5ab9ea;
  width: 100%;
  padding: 10px 40px;
  border-radius: 20px;
  transition: 0.5s;
  background: #131419;
  box-shadow:  inset -5px -5px 10px rgba(255, 255, 255, 0.10),
               inset 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.button{
  display: block;
  text-align: center;
}

/* LOGIN & REGISTER FORM */
.card{
  color: #fff;
  border-radius: 20px;
  background: #131419;
  box-shadow:  -5px -5px 10px rgba(255, 255, 255, 0.10),
                5px 5px 15px rgba(0, 0, 0, 0.5);
}

.card-title{
  color: #fff;
}

.card-title p, .copy{
  color: #868686;
}

.title, .fa-key, .fa-google, .signUp, .forgotPassword,
.signUp:hover, .forgotPassword:hover{
  color: #5ab9ea;
}

form{
  font-size: 18px;
  text-align: left;
  color: #868686;
}

form .form-group .inputEmail, form .form-group .inputPass,
form .form-group .inputRetypePass, form .form-group .inputSecret{
  width: 100%;
  padding: 10px 40px;
  border-radius: 20px;
  background: #131419;
  outline: none;
  border: none;
  font-size: 18px;
  color: #5ab9ea;
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.10),
              inset  5px 5px 15px rgba(0, 0, 0, 0.8);
}

button,button:focus{
  border: none;
  outline: none;
}

span, secret-text{
  font-size: 18px;
  color: #5ab9ea;
}

/* 404 Page */
.svg-404{
   width: 100%;
   height: 300px;
}


@media (min-width: 992px) and (max-width: 1199px) {
 
}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 575px) {

}

@media (min-width: 425px) {
  .page-404-text{
    font-size: 24px;
  }
}

@media (min-width: 320px) and (max-width: 424px){
  .btnLogin, .btnHomeRegister, .btnHomeLogin, .btnSubmitSecret, .btnLogout{
    display: inline-block;
  }

  .page-404-centered{
    padding-top: 50px;
  }

  .page-404-text{
    font-size: 24px;
  }
}
